<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
            York University
        </h3>
        <p>
            <p style="font-size:30px">&nbspSuccessfully grabbed 2 records from API. The records are listed in the follwoing table: </p>
<p><table border="2" class="dataframe">
    <thead>
    <tr style="text-align: right;">
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto"></th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: 60px">Full Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">First Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Middle Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Last Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Gender</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Location_Ccountry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_title</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Industry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_company_name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Countries</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">work_email</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">personal_emails</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">mobile_phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://localhost:8000/people/dean_del_mastro_insurance.html">0</a></th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://localhost:8000/people/dean_del_mastro_insurance.html">dean del mastro</a></td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dean</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">del mastro</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">australia</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">insurance broker</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">insurance</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">kinnane insurance brokers</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[australia]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://linkedin.com/in/dean-del-mastro-81773082">linkedin.com/in/dean-del-mastro-81773082</a></td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dean-del-mastro-81773082</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dean@kib.net.au</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://localhost:8000/people/dean_del_mastro_politician.html">1</a></th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://localhost:8000/people/dean_del_mastro_politician.html">dean del mastro</a></td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dean</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">del mastro</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://linkedin.com/in/dean-del-mastro-62911036">linkedin.com/in/dean-del-mastro-62911036</a></td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dean-del-mastro-62911036</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
  </tbody>
</table></p>
</body>
</html>