<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a test</title>
</head>
<body>
<h3>
            York University
        </h3>
        <p>
            <p style="font-size:30px">&nbspSuccessfully grabbed more than 50 records from API. Only 10 records are listed in the follwoing table: </p>

<p><table border="2" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto"></th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Full Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">First Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Middle Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Last Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Gender</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Location_Ccountry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_title</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Industry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_company_name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Countries</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">work_email</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">personal_emails</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">mobile_phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">0</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">vice president, senior technical project manager</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">financial services</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">mufg in the americas</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://linkedin.com/in/jamespattersonmba">linkedin.com/in/jamespattersonmba</a></td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamespattersonmba</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://facebook.com/jpatterson1031">facebook.com/jpatterson1031</a></td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson1031</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@us.mufg.jp</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jpatterson1811@yahoo.com, jap86@hotmail.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+16467730756</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">1</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">clinical director</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">hospital &amp; health care</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">right turn</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[australia, united kingdom, united states]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://linkedin.com/in/jamesgpatterson">linkedin.com/in/jamesgpatterson</a></td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamesgpatterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://facebook.com/jgpbos">facebook.com/jgpbos</a></td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jgpbos</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto"><a href="http://twitter.com/jamesgpatterson">twitter.com/jamesgpatterson</a></td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamesgpatterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jgpbos@gmail.com, mkm1104@verizon.net]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+16173144048</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">2</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">owner</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">health, wellness and fitness</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">body by james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/bodybyjamespt</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">bodybyjamespt</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/bodybyjamespt</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">bodybyjamespt</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[bodybyjamespt@gmail.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+15108606175</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">3</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">franklin</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">resident engineer</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">telecommunications</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">calix</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-8496a045</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-8496a045</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/dakiel13</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">dakiel13</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[j_patterson@wideopenwest.com, chelsey_michele_35@hotmail.com, amyjamison1@yahoo.com]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+18124492108</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">4</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">cashier</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">retail</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">walmart</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-l-patterson-38b58036</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-l-patterson-38b58036</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/james.patterson.5243</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.patterson.5243</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@walmart.com</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jamespatterson1@yahoo.com, jamespatterson11060@yahoo.com, jamespatterson@netzero.com, jamespatterson13060@yahoo.com, jimrox27@verizon.net, jamespatterson13060@mail.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+13306083609</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">5</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">mts</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">electrical/electronic manufacturing</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">atlanta micro</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/jamespatterson2</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamespatterson2</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/james.patterson.376258</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.patterson.376258</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.patterson@atlantamicro.com</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jwpatterson62@hotmail.com]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+13015240832</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">6</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">partner</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">law practice</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">spencer fane llp</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-6a3b833</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-6a3b833</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/james.s.patterson.58</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.s.patterson.58</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@spencerfane.com</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jpatterson@onebox.com, amado.zavalo@gmail.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+19724890974</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">7</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">calvin</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">senior manager account operations</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">logistics and supply chain</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">kenco group</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-j-c-patterson-ii-2264a870</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-j-c-patterson-ii-2264a870</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/jaysop</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jaysop</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jcpatterson2@gmail.com]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+19012896343</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">8</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">chief executive officer</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">management consulting</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">the patterson group</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-k-patterson-94a85134</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-k-patterson-94a85134</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/schotze1</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">schotze1</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jimkelpat@msn.com, jimkelpat@aol.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+16155042420</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">9</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">united states</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">software developer</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">retail</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">insurance auto auctions</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[united states]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-30338143</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-30338143</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/jamesppj</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamesppj</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@iaai.com</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jamesppj@yahoo.com, jamesppj@gmail.com]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">+12488941878</td>
    </tr>
  </tbody>
</table></p>
</body>
</html>