
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
        <style>
            input[type='text'] { font-size: 24px; font-family: sans-serif; }
            input[type='button'] { font-size: 24px; font-family: sans-serif; }
        </style>
    </head>
    <body>
        <h3>
            York University
        </h3>
        <p>
            <p style="font-size:30px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp You can search with one or more attributes.</p> <br>
            <br>
            <form action="/hello" method="post">
                <strong><p style="font-size:30px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Full Name:</strong>  <input type="text" name="Full name"></p>
               <strong> <p style="font-size:30px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Country: &nbsp&nbsp  </strong><input type="text" name="Country" /></p>
               <strong> <p style="font-size:30px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Job  Title: &nbsp&nbsp </strong><input type="text" name="Job title" /></p>
               <p style="font-size:30px"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   <input type="button" style="background-color:red; border-color:red; color:white" onclick="location.href='http://localhost:8000/people/James_paterson_name_country.html';" value="Serach" /></p>


            <!--                <a href="file:///C:/Users/shahr/PycharmProjects/ID_Resolution/test.html" class="button1">Submit</a>-->
<!--    <a href="http://localhost:8000/james_patterson.html">-->
<!--        <input type="submit" name= "form" value="Submit" style="background-color:red; border-color:red; color:white"/>-->
<!--    </a>-->
<!--            <input type="button" style="background-color:red; border-color:red; color:white" onclick="location.href='http://localhost:8000/james_patterson.html';" value="Serach" />-->
            </form>
        </p>
    </body>
</html>
