<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
            York University
        </h3>
        <p>
            <p style="font-size:30px">&nbspSuccessfully grabbed more than 50 records from API. Only 10 records are listed in the follwoing table: </p>
<p><table border="2" class="dataframe">
   <thead>
    <tr style="text-align: right;">
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto"></th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Full Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">First Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Middle Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Last Name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Gender</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Location_Ccountry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_title</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Industry</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Job_company_name</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">Countries</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">linkedin_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">facebook_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_url</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">twitter_username</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">work_email</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">personal_emails</th>
      <th style = "background-color: #FFFFFF;font-family: Open Sans, sans-serif;font-size: medium;color: #305496;text-align: center;border-bottom: 2px solid #305496;padding: 5px 5px 5px 5px;width: auto">mobile_phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">0</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">founder | president and chief operations officer</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">computer software</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">tekstack</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/jamesrichardpatterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jamesrichardpatterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james@tekstack.com</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jamesp955@yahoo.co.uk]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">1</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">training specialist</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">program development</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">st. john ambulance council for federal district</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-05499860</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-05499860</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">twitter.com/cipher78</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">cipher78</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson@sja.ca</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">2</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">controller</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">financial services</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">hardt</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-cpa-cga-043b4312</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-cpa-cga-043b4312</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@hardt.ca</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">3</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">senior product owner</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">internet</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/avoidinglife</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">avoidinglife</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[eurojamieland@yahoo.com]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">4</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">sales consultant</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">consumer goods</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">e. &amp; j. gallo winery</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-4887433b</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-4887433b</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james@gallo.com</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[jimpatterson37@hotmail.com]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">5</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">director of family services</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">consumer services</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">beechwood cemetery the national cemetery of canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada, malaysia]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-b2258649</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-b2258649</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">jpatterson@beechwoodcemetery.com</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">6</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">sales representative</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">real estate</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">manor windsor realty ltd.</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-68691213</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-68691213</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">facebook.com/james.patterson.5494360</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.patterson.5494360</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">7</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">owner and operator</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">construction</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson custom carpentry</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-8980a584</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-8980a584</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">8</th>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">senior stormwater technologist</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">government administration</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">strathcona county</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-762570124</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-762570124</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james.patterson@strathcona.ca</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: #D9E1F2;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
    <tr>
      <th style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">9</th>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">patterson</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">male</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">canada</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">photographer</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">photography</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james patterson photography</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[canada]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">linkedin.com/in/james-patterson-8b568a23</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">james-patterson-8b568a23</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">[]</td>
      <td style = "background-color: A5DCDC; color: black;font-family: Open Sans, sans-serif;font-size: medium;text-align: center;padding: 5px 5px 5px 5px;width: auto">_</td>
    </tr>
  </tbody>
</table></p>

</body>
</html>